#links {
	position: fixed;
	width: 100%;
	top:45%;
	text-align: center;
	font-size: 60px;
	font-family: 'Gravitas One', cursive;

}
#links a{
	color: #99e0c8;
	text-decoration: none;
}
#links a:hover{
	color: #6d9e8e;
}
