body{
	background-image: url(../../img/clouds.png);
	background-blend-mode: lighten;
	background-color: rgba(164, 222, 180, 12);
	background-size: cover;
	background-repeat: no-repeat;
}
p {
	position: relative;
	width: 33.3%;
	left:33.3%;
	text-align: left;
	font-size: 15px;
	color: #0080ff;
	font-family: 'Playfair Display', serif;
}
h1 {
	position: fixed;
	transform: rotate(270deg);
	font-size: 100px;
	color: #a2dbb9;
	text-align: left;
	left:0%;
	bottom:10%;
	font-family: 'Playfair Display', serif;

}
